<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TU CARRITO</title>
  <link rel="stylesheet" href="/css/cart.css" />

  <script>
        // Define the API URL based on the environment
        const API_URL = window.location.hostname === 'localhost'
            ? 'http://localhost:8080'
            : 'https://entregafinal-clase46-production.up.railway.app';
    </script>
</head>

<body>

  <div id="cart" data-cart-id="{{cId}}">
    <h1>TU CARRITO</h1>

    {{#if cart.products.length}}
    <form action="/payment-process/{{cId}}" method="GET">
      {{#each cart.productsDetails}}
      <div class="product-item">
        <p>Titulo2: {{this.product.title}}</p>
        <input type="hidden" name="productId" value="{{this.product._id}}" />
        <label for="quantity{{this.product._id}}">Cantidad:</label>
        <input type="number" id="quantity{{this.product._id}}" name="quantity{{this.product._id}}"
          value="{{this.quantity}}" />
        <button type="button" class="decrease-quantity-btn" data-product-id="{{this.product._id}}">-</button>
        <button type="button" class="increase-quantity-btn" data-product-id="{{this.product._id}}">+</button>
        <button type="button" class="remove-product-btn" data-product-id="{{this.product._id}}">Eliminar</button>
        <p>Precio Unitario: ${{this.product.price}}</p>
      </div>
      {{/each}}
      <button type="submit">Confirmar Compra</button>
    </form>
    <br />


    <button type="button" class="empty-cart">
      Vaciar el carrito
    </button>

    {{else}}
    <p>Tu carrito está vacío.</p>
    {{/if}}

    <button><a href="/products">Volver a Ver Productos</a></button>

  </div>


  <script src="/js/cart.js"></script>

